.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  height: 400px; /* Set a fixed height */
  overflow-y: auto;
}

.container h1 {
  color: rgb(32, 4, 41);
  text-align: center;
  font-family: "Lobster", cursive;
  border-bottom: 3px solid rgb(7, 7, 7);
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(7, 7, 7);
  margin-bottom: 10px;
}

.newChanges {
  display: flex;
  justify-content: space-around;
}
.newChanges img {
  width: 150px;
  height: 150px;
  margin: 20px;
}
.details {
  margin: 15px;
  padding: 0;
}

.details h5 {
  color: rgb(32, 1, 32);
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
}

.increase {
  border: 3px solid black;
  padding: 5px;
  cursor: pointer;
  font-weight: bolder;
  margin: 2px;
}
.quantity {
  font-weight: bolder;
}
.decrease {
  border: 3px solid black;
  padding: 5px;
  cursor: pointer;
  font-weight: bolder;
  margin: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.totalAmount {
  text-align: end;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: bolder;
  border-bottom: 3px solid rgb(7, 7, 7);
  margin-bottom: 10px;
}
.msg {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.btn {
  padding: 10px;
  display: flex;
  justify-content: end;
}
.army {
  font-family: "Brush Script MT", cursive;
  color: rgb(219, 41, 190);
  font-size: larger;
  font-weight: bolder;
}
.army::after {
  content: "💜";
  margin-left: 10px; /* Adjust spacing as needed */
}
.btn1 {
  color: purple;
  font-weight: bolder;
  background-color: white;
  border: 5px solid rgb(68, 9, 68);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}
.btn2 {
  color: rgb(241, 240, 238);
  font-weight: bolder;
  background-color: rgb(31, 2, 31);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
